body {
  background-color: #151515;
}
#summary {
  display: block;
  margin: auto;
  width: 80vw;
  padding: 20px;
  color: #dee8d9;
}
h1,
h2,
h3 {
  color: #ce64a5;
}
#summary img {
  display: block;
  max-width: 500px;
  max-width: 100%;
  margin: auto;
}
