@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap");

body {
  background-color: #151515;
  font-family: "Open Sans";
}
.section-title {
  text-align: center;
}
.section {
  display: block;
  margin: 5% auto;
  width: 90%;
  max-width: 800px;
}
#summary,
.job-history,
.edu-history {
  padding: 20px;
  color: #ebe3e0;
  background-color: rgb(54, 54, 54);
}
.items {
  background-color: #2e2e2e;
  padding: 20px;
  margin: 20px auto;
  border-radius: 2%;
  box-shadow: 4px 4px 4px #151515e7;
  transition: ease-out 100ms;
}
.items:hover {
  background-color: #333232;
  transform: scale(1.01);
}
h1,
h2,
h3 {
  color: #eca400;
}
img {
  display: block;
  max-width: 500px;
  max-width: 100%;
  margin: auto;
}
